In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
from collections import Counter
import itertools
print(os.listdir("../SkillFactory/0-real_ds"))

['data.csv']

In [2]:
data = pd.read_csv('../SkillFactory/0-real_ds/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
current_data = data[:].copy()
current_data['profit'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
current_data['month'] = data.apply(lambda x: re.search(r'^[0-9]+', x.release_date).group(0), axis=1)
current_data['film_length'] = data.apply(lambda x: len(x.original_title), axis=1)
current_data['film_word_length'] = data.apply(lambda x: len(x.original_title.split(' ')), axis=1)
current_data['list_actors'] = current_data['cast'].apply(lambda x: x.split('|'))
current_data['actor_pair_counter'] = current_data['list_actors'].apply(lambda x: Counter(itertools.combinations(x, 2)))
current_data.head(5)

def get_flat_dataframe_by_genres(data):
    row_buffer = []
    for index, row in data.iterrows():
        genres_split = row.genres.split('|')
        if len(genres_split) > 1:
            for genres in genres_split:
                new_row = row.copy()
                new_row['genres'] = genres
                row_buffer.append(new_row)
        else:
            row_buffer.append(row)
    new_data = pd.DataFrame(row_buffer)
    new_data.reset_index(inplace=True, drop=True)
    
    return new_data

def get_flat_dataframe_by_director(data):
    row_buffer = []
    for index, row in data.iterrows():
        director_split = row.director.split('|')
        if len(director_split) > 1:
            for director in director_split:
                new_row = row.copy()
                new_row['director'] = director
                row_buffer.append(new_row)
        else:
            row_buffer.append(row)
    new_data = pd.DataFrame(row_buffer)
    new_data.reset_index(inplace=True, drop=True)
    
    return new_data

def get_flat_dataframe_by_cast(data):
    row_buffer = []
    for index, row in data.iterrows():
        cast_split = row.cast.split('|')
        if len(cast_split) > 1:
            for cast in cast_split:
                new_row = row.copy()
                new_row['cast'] = cast
                row_buffer.append(new_row)
        else:
            row_buffer.append(row)
    new_data = pd.DataFrame(row_buffer)
    new_data.reset_index(inplace=True, drop=True)
    
    return new_data

def get_flat_dataframe_by_production_companies(data):
    row_buffer = []
    for index, row in data.iterrows():
        production_companies_split = row.production_companies.split('|')
        if len(production_companies_split) > 1:
            for production_companies in production_companies_split:
                new_row = row.copy()
                new_row['production_companies'] = production_companies
                row_buffer.append(new_row)
        else:
            row_buffer.append(row)
    new_data = pd.DataFrame(row_buffer)
    new_data.reset_index(inplace=True, drop=True)
    
    return new_data

def get_word_count(data):
    result_set = set()
    for index, row in data.iterrows():
        words = row.original_title.split(' ')
        for word in words:
            result_set.add(word)
                
    return len(result_set)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
current_data[current_data['budget'] == current_data['budget'].max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer_ls.append(2)
data[data.genres.str.contains("Action")]
current_data[current_data['runtime'] == current_data['runtime'].max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer_ls.append(3)
current_data[current_data['runtime'] == current_data['runtime'].min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer_ls.append(2)
current_data['runtime'].mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer_ls.append(1)
current_data['runtime'].median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer_ls.append(5)
current_data[current_data['profit'] == current_data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
answer_ls.append(2)
current_data[current_data['profit'] == current_data['profit'].min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer_ls.append(1)
len(current_data[current_data['profit'] > 0].index)
len(current_data.query('revenue > budget').index)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
answer_ls.append(4)
films_2008 = current_data.query('release_year == 2008')
films_2008[films_2008['revenue'] == films_2008['revenue'].max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
answer_ls.append(5)
films_2012_2014 = current_data.query('release_year >= 2012 & release_year <= 2014')
films_2012_2014[films_2012_2014['profit'] == films_2012_2014['profit'].min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
answer_ls.append(3)
flat_dataframe_by_genres = get_flat_dataframe_by_genres(current_data)
flat_dataframe_by_genres.groupby(['genres'])['genres'].count().sort_values(ascending=False).head(1)

genres
Drama    782
Name: genres, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
answer_ls.append(1)
flat_dataframe_by_genres = get_flat_dataframe_by_genres(current_data)
flat_dataframe_by_genres[flat_dataframe_by_genres['profit'] > 0].groupby(['genres'])['genres'].count().sort_values(ascending=False).head(1)

genres
Drama    560
Name: genres, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
answer_ls.append(3)
flat_dataframe_by_director = get_flat_dataframe_by_director(current_data)
flat_dataframe_by_director.groupby(['director'])['director'].count().sort_values(ascending=False).head(1)

director
Steven Soderbergh    13
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
answer_ls.append(4)
flat_dataframe_by_director = get_flat_dataframe_by_director(current_data)
flat_dataframe_by_director[flat_dataframe_by_director['profit'] > 0].groupby(['director'])['director'].count().sort_values(ascending=False).head(1)

director
Ridley Scott    12
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
answer_ls.append(4)
flat_dataframe_by_director = get_flat_dataframe_by_director(current_data)
flat_dataframe_by_director.groupby(['director'])['profit'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
answer_ls.append(1)
flat_dataframe_by_cast = get_flat_dataframe_by_cast(current_data)
flat_dataframe_by_cast.groupby(['cast'])['profit'].sum().sort_values(ascending=False).head(1)

cast
Emma Watson    6666245597
Name: profit, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
answer_ls.append(3)
flat_dataframe_by_cast = get_flat_dataframe_by_cast(current_data)
flat_dataframe_by_cast[flat_dataframe_by_cast.release_year == 2012].groupby(['cast'])['profit'].sum().sort_values(ascending=True).head(1)

cast
Kirsten Dunst   -68109207
Name: profit, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
answer_ls.append(3)
flat_dataframe_by_cast = get_flat_dataframe_by_cast(current_data)
flat_dataframe_by_cast[flat_dataframe_by_cast['budget'] > flat_dataframe_by_cast['budget'].mean()].groupby(['cast'])['cast'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: cast, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
answer_ls.append(2)
flat_dataframe_by_genres = get_flat_dataframe_by_genres(current_data)
flat_dataframe_by_genres[flat_dataframe_by_genres.cast.str.contains("Nicolas Cage")].groupby(['genres'])['genres'].count().sort_values(ascending=False).head(1)

genres
Action    17
Name: genres, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
answer_ls.append(1)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies.groupby(['production_companies'])['production_companies'].count().sort_values(ascending=False).head(1)

production_companies
Universal Pictures    173
Name: production_companies, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
answer_ls.append(4)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies[flat_dataframe_by_production_companies.release_year == 2015].groupby(['production_companies'])['production_companies'].count().sort_values(ascending=False).head(1)

production_companies
Warner Bros.    12
Name: production_companies, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
answer_ls.append(2)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies[flat_dataframe_by_production_companies.genres.str.contains("Comedy")].groupby(['production_companies'])['profit'].sum().sort_values(ascending=False).head(1)

production_companies
Universal Pictures    8961545581
Name: profit, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
answer_ls.append(3)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies[flat_dataframe_by_production_companies.release_year == 2012].groupby(['production_companies'])['profit'].sum().sort_values(ascending=False).head(1)

production_companies
Columbia Pictures    2501406608
Name: profit, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
answer_ls.append(1)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies[flat_dataframe_by_production_companies.production_companies.str.contains("Paramount Pictures")].sort_values(by='profit', ascending=True).head(1).original_title

2999    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
answer_ls.append(5)
current_data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
answer_ls.append(1)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies[flat_dataframe_by_production_companies.production_companies.str.contains("Warner Bros")].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
answer_ls.append(4)
current_data.groupby(['month'])['original_title'].count().sort_values(ascending=False).head(1)

month
9    227
Name: original_title, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
answer_ls.append(2)
current_data[current_data.release_date.str.contains(r'^[6\/, 7\/, 8\/]')].count().original_title

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
answer_ls.append(4)
flat_dataframe_by_director = get_flat_dataframe_by_director(current_data)
flat_dataframe_by_director[flat_dataframe_by_director.release_date.str.contains(r'^(12\/|1\/|2\/)')].groupby(['release_year', 'director'])['director'].count().sort_values(ascending=False)

/workflow/programs/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

release_year  director
2003          Shawn Levy        2
2001          Ridley Scott      2
2008          Clint Eastwood    2
2015          Sean Anders       1
2006          Glen Morgan       1
                               ..
2011          Dennis Dugan      1
              Dominic Sena      1
              Garry Marshall    1
              Greg Mottola      1
2000          Ben Younger       1
Name: director, Length: 469, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
answer_ls.append(2)
current_data.groupby(['release_year','month'])['profit'].sum().sort_values(ascending=False)

release_year  month
2015          6        3757679861
2009          12       3423239738
2012          6        2965481705
2015          12       2777325507
2007          6        2764341802
                          ...
2000          4         124362846
2007          1          91188025
2001          9          21874909
2002          1          13657034
2000          1         -26344591
Name: profit, Length: 192, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
answer_ls.append(5)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies.groupby(['production_companies'])['film_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: film_length, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
answer_ls.append(5)
flat_dataframe_by_production_companies = get_flat_dataframe_by_production_companies(current_data)
flat_dataframe_by_production_companies.groupby(['production_companies'])['film_word_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    12.0
Name: film_word_length, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
answer_ls.append(3)
get_word_count(current_data)

2477

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
answer_ls.append(1)
data[data['vote_average'] > np.percentile(data['vote_average'], 99)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
answer_ls.append(5)
current_data['actor_pair_counter'].sum().most_common(3)
Counter(np.sum([list(itertools.combinations(x, 2)) for x in data['cast'].apply(lambda x: x.split('|'))])).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
answer_ls.append(4)
flat_dataframe_by_director = get_flat_dataframe_by_director(current_data)
flat_dataframe_by_director['films'] = flat_dataframe_by_director.apply(lambda x: 1, axis=1)
profit_films = flat_dataframe_by_director[flat_dataframe_by_director['profit'] > 0]
group_by_director = profit_films.groupby(['director']).sum()
group_by_director['mean_profit'] = group_by_director.profit / group_by_director.films
group_by_director['coeff'] = group_by_director.films * group_by_director.mean_profit
group_by_director.sort_values(by=['coeff'], ascending=[False]).head(3)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,film_length,film_word_length,films,mean_profit,coeff
director,,,,,,,,,,,,,
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685,265,52,8,6.503242e+08,5.202594e+09
David Yates,20.506537,775000000,4154295625,567,13819,29.6,8037,3379295625,167,30,4,8.448239e+08,3.379296e+09
Christopher Nolan,61.560756,1005000000,4167548502,1135,41561,61.1,16057,3162548502,97,15,8,3.953186e+08,3.162549e+09

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       4
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       4
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4